.header-image img {
  height: 40px;
  width: 100%;
}
.Header {
  background-color: #212121;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.mobileTabNav {
  background-color: white;
  font-weight: 600;
  color: black;
}


.Routes:hover {
  color: #f9a825;
}

.Routes:active {
  color: #f9a825;
}
