.banner-container {
    background-image: linear-gradient(rgba(1, 1, 0, 0.1), rgba(1, 1, 0, 0.2)),
      url('../../../assets/images/Banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }